cluster_configuration {
  cluster_name: "__CLUSTERNAME__"
}
network {
  enabled_service_networks: "__NW__"
  enabled_client_networks: "__NW__"
}
s3_proxy {
  authentication_type: REGISTRY_USER_DATABASE
  http_port: 80
  https_port: 443
  redirect_to_https: false
  hostname: "__S3__"
  browser_bucket_name: "browser.__S3__"
}
health_manager_config {
  enable: true
  rebalance_policy {
    enable: true
    keep_usage_within_band_fraction: 0.3
    limit_max_rebalance_data_device_tasks: 1
    restrict_to_maintenance_window: true
    retry_successful_period_s: 3600
    retry_failed_period_s: 43200
  }
  catchup_policy {
    enable: true
  }
  fstrim_policy {
    enable: false
    interval_s: 1209600
    restrict_to_maintenance_window: true
    limit_max_tasks_per_service: 1
    limit_max_tasks: 1
  }
  cleanup_policy {
    enable: false
    interval_s: 2592000
    restrict_to_maintenance_window: true
    limit_max_tasks_per_service: 1
    limit_max_tasks: 3
  }
  handle_defective_devices_policy {
    enable: true
    action: REGENERATE_DEVICE
    limit_max_tasks: 1
  }
  update_states_of_drained_devices_policy {
    enable: true
  }
  scrub_policy {
    enable: true
    interval_s: 2592000
    restrict_to_maintenance_window: true
    limit_max_tasks: 10
  }
  regenerate_unavailable_devices_policy {
    enable: true
    device_unavailable_grace_period_s: 28800
    restrict_to_maintenance_window: false
    limit_max_tasks: 1
  }
  enforce_placement_policy {
    enable: true
    restrict_to_maintenance_window: true
    interval_s: 604800
  }
  erase_volume_policy {
    restrict_to_maintenance_window: true
  }
  reset_accounting_policy {
    enable: true
  }
  erase_snapshot_policy {
    enable: true
    restrict_to_maintenance_window: true
  }
  automatic_release_rollout_policy {
    enable: false
    restrict_to_maintenance_window: true
  }
  tiering_policy {
    enable: false
    restrict_to_maintenance_window: true
    interval_s: 259200
  }
  ejectable_devices_policy {
    enable: false
    unmount_on_ready_to_eject: false
    set_led_on_ready_to_eject: NONE
  }
}
device_manager_config {
  set_created_data_devices_online: true
  set_created_metadata_devices_online: true
  fsck_before_mount: PER_DEVICE
}
policy_engine_config {
  enable: true
}
client_configuration {
  enable_minidump_uploads: true
}
dns_server_config {
  enable: false
}

